asttokens
comm
debugpy
decorator
executing
greenlet
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
python-dateutil
pytz
pyzmq
six
SQLAlchemy
stack-data
tornado
traitlets
typing_extensions
tzdata
wcwidth
